.container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid{
  width: 100vw;
  padding: 0 !important;
  display: flex;
  justify-content: center;
}

.mainpage{
  display: flex;
  flex-direction: column;
  .row-mainpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em 0;
    .content-row{
      display: flex;
      flex-direction: column;
      align-items: center;
    .row{
      flex-direction: column;
    }
    .settlements{
      position: absolute;
      right: 80px;
      top: 80px;
    }
    h1{
      font-size: 17px;
      font-weight: 200;
    }
    .add-new-expense {
      display: flex;
      min-width: 700px;
      form{
        display: flex;
      }
    }
    .card-item{
      margin: 1em 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 450px;
      .card-body{
        width: 100%;
        display: flex;
        justify-content: space-between;;
      }
      .card-title{
        text-align: left;
        text-transform: uppercase;
        margin: 0;
        font-weight: 200;
      }
      .card-text{
        font-weight: 400;
        text-transform: uppercase;
      }
      .form-group{
        display: flex;
        justify-content: space-between;
        input{
          width: 250px;
        }
        button{
          width: 120px;
        }
      }
      p{
        font-weight: 600;
        text-align: left;
        font-size: 17px;
      }
    }
    }
    .history{
      margin: 1em 0;
      overflow: auto;
      min-width: 700px;
      max-height: 70vh;
      .history-item{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-right: 0;
        border-left: 0;
        padding: 1em 1em 1em 0;
        p{
          margin: 0;
        }
      }
      &::-webkit-scrollbar {
        width: .5em;
      }
       
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(146, 146, 146, 0.3);
      }
       
      &::-webkit-scrollbar-thumb {
        background-color: #818c9654;
        outline: 1px solid rgb(47, 52, 58);
      }
    }
    .add-new-expense{
      margin: 1em 0;
      form{
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      select, input, button{
        height: 50px;
        margin-right: 15px;
      }
      button{
        margin: 0 !important;
      }
    }
    &:first-child{
      background-color: #ebcd4b;
      }
    &:nth-child(2){
      background-color: #f8f9fa;
      padding: .5em 0;
      }
  }
}
